.sound > button{
    margin: 20px;
    padding: 10px;
    color: purple;
}
.header, .table {
    text-align: center;
}
h1 {
    display: inline-block;
    font-family: 'Gloria Hallelujah', cursive;
}
table {
    display: inline-block;
}
select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
